@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* Animação do h1 (Título) */
.heading {
  opacity: 0;
  transform: translateX(-50px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

.heading.animate {
  opacity: 1;
  transform: translateX(0);
}

.paragraph {
  opacity: 0;
  transform: translateX(-50px);
  transition:
    opacity 0.8s ease-out 0.4s,
    transform 0.8s ease-out 0.4s;
}

.paragraph.animate {
  opacity: 1;
  transform: translateX(0);
}
